.curve-background-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
  }
  
  .curve-background-svg {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  